body {
    background-color: #000;
    color: #fff;
}
.card {
    background-color: #111;
    color: #fff;
    border: 1px solid #fff;
}
.btn-primary {
    background-color: #fff;
    color: #000;
    border: none;
}
.btn-primary:hover {
    background-color: #ddd;
    color: #000;
}